.banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
button {
    padding: 10px;
}
.container {
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    padding: 20px;
}

@media (min-width: 552px) {
   .grid {
       display: flex;
       justify-content: center;
   }
}
